<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <connectionStrings>
    <add name="PolarisConnectionString"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Polaris.Dbl;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Dal Factory Settings-->
    <add key="DalAssemblyName" value="Polaris.Dal"/>
    <add key="DalRepositoryFactoryName" value="LinqToSqlRepositoryFactory"/>
    <!-- Image settings -->
    <add key="ImagesPath" value="/Assets/"/>
    <add key="UserImagePath" value="/Assets/User/"/>
  </appSettings>
  
</configuration>
