<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Dal Factory Settings-->
    <add key="PolarisDal" value="Polaris.Dal"/>
    <!-- Image settings -->
    <add key="ImagesPath" value="/Assets/"/>
    <add key="UserImagePath" value="/Assets/User/"/>
  </appSettings>
  
</configuration>
