<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <loggingConfiguration configSource="loggingConfiguration.config" />
  
  <connectionStrings>
    <add name="PolarisConnectionString"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Polaris.Dbl;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Dal Factory Settings-->
    <add key="DalAssemblyName" value="Polaris.Dal"/>
    <add key="DalRepositoryFactoryName" value="LinqToSqlRepositoryFactory"/>
    <add key="DalEntityFactoryName" value="LinqToSqlEntityFactory"/>
    <!-- Image settings -->
    <add key="ImagesPath" value="/Assets/"/>
    <add key="UserImagePath" value="/Assets/User/"/>

    <add key="Polaris.Common.Logging.Default.EventId" value="1"/>
    <add key="Polaris.Common.Logging.Default.Priority" value="0"/>
    <add key="Polaris.Common.Logging.Default.Categories" value="General"/>
  </appSettings>
  
</configuration>
