<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PolarisConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Polaris.Dbl;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Polaris.Dal.Properties.Settings.Polaris_DblConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Polaris.Dbl;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Polaris.Dal.Properties.Settings.PolarisConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Polaris.Dbl;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Polaris.Dal.Properties.Settings.PolarisConnectionString1"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Polaris;Persist Security Info=True;User ID=polaris"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>