 <?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Polaris.Dal.Properties.Settings.Polaris_DblConnectionString"
            connectionString="Data Source=ABAKER-PC\SQLEXPRESS;Initial Catalog=Polaris.Dbl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Polaris.Dal.Properties.Settings.PolarisConnectionString"
            connectionString="Data Source=MVARELA-VISTA\SQLEXPRESS;Initial Catalog=Polaris;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>