<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <loggingConfiguration configSource="loggingConfiguration.config" />
  
  <appSettings>
    <add key="Polaris.Common.Logging.Default.EventId" value="1"/>
    <add key="Polaris.Common.Logging.Default.Priority" value="0"/>
    <add key="Polaris.Common.Logging.Default.Categories" value="General"/>
  </appSettings>
  
</configuration>